<div class="container">
    <% if (data && data.length > 0) { %>
        <h1>
            Order Information
        </h1>
    <table>
            <thead>
                <td>Item</td>
                <td>Qty Ordered</td>
                <td>Qty Shipped</td>
                <td>Tracking Number</td>
            </thead>
        <tbody>
            <% for(var i=0; i< data.length; i++) {%>
                <tr>
                    <td>
                        <%= data[i]['name'] %>
                    </td>
                    <td>
                        <%= data[i]['ordered'] %>
                    </td>
                    <td>
                        <%= data[i]['shipped'] %>
                    </td>
                    <td>
                        <% if( data[i]['tracking'] !== null ) { %>
                            <a href=<%= data[i]['tracking'] %> target="_blank">
                                <%= data[i]['tracking'].split('=')[1] %>
                            </a>
                        <% } else { %>
                            Pending Shipment
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <% } else { %>
        <h2 style="margin: 20vh 30vw">Sorry, we couldn’t find your order. Please check your order number and shipping zip again. </h2>
    <% } %>
</div>
